<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Translate API Example</title>
  </head>
  <body>
    <div id="sourceText">Hangul translation test한글 번역 테스트 </div>
    <div id="translation"></div>
    <script>
      function translateText(response) {
        document.getElementById("translation").innerHTML += "<br>" + response.data.translations[0].translatedText;
      }
    </script>
    <script>
      var newScript = document.createElement('script');
      newScript.type = 'text/javascript';
//      var sourceText = escape(document.getElementById("sourceText").innerHTML);
      var sourceText = document.getElementById("sourceText").innerHTML;
      console.log(sourceText);
      var appKey = 'AIzaSyDbLHlxeb4XzDtSj_uPoFu4D1w1qPvPKEM'
      var source = "https://www.googleapis.com/language/translate/v2?key="+appKey+"&source=en&target=ko&callback=translateText&q=" + sourceText;
      newScript.src = source;
 
      // When we add this script to the head, the request is sent off.
      document.getElementsByTagName('head')[0].appendChild(newScript);
    </script>
  </body>
</html>

