<% if (isLogin){ %>
	<div class="box5">
		<div class='signup' style="position: static;">
			<a href="/logout" class="btn miniBtn">LOGOUT</a>
		</div>
	</div>
<% }else{ %>
	<div class="box5">
		<!-- <p>Hamonia</p> -->
		<div class='signup' style="position: static;">
			<a href='javascript:;' id="openLoginDiv" class="btn miniBtn">로그인</a>
			<a href='javascript:;' id="openSignupDiv" class="btn miniBtn">회원가입</a>
		</div>
	</div>
<% } %>


<!-- UI 변경시 padding-top 제거 -->
<div class="box3" style="padding-top: 40px;">
	<h4 style="font-weight:  bold;">바로 접속/참여 하기</h4>
	<p style="font-size: .8rem;">방이름을 입력하여 개설 또는 참여하세요</p>
</div>

<div class="box2" style="display: none;">
	<p id="brmMsg">&nbsp;</p>
</div>

<!-- UI 변경시 margin-bottom 제거 -->
<div class="box4">
	<% if (isLogin){ %>
	    	<input type="hidden" id="userName" value="<%= nickname %>" class="form-control" name="userName" required autocomplete="off" style="border: 0; font-weight: bold; text-align: center;" readonly>
		<input type="text" id="" value="" class="" name="" autocomplete="off" style="border: 0; font-weight: bold; text-align: center;" readonly>
		<input type="text" id="room-id" class="form-control" placeholder="방이름을 입력하세요." autocorrect=off autocapitalize=off size=20>
	<% }else{ %>
    		<input type="text" id="userName" class="form-control" name="userName" required placeholder="대화명을 입력하세요." autocomplete="off" style="display: none;">
		<input type="text" id="room-id" class="form-control" placeholder="방이름을 입력하세요." autocorrect=off autocapitalize=off size=20 style="margin-top: 27px;">
	<% } %>
	
</div>

<div class="row joinBtn">
	<button id="open-or-join-room" class="btn btn-primary btn-block">접속 또는 참여하기</button>
</div>


<script>
// 접속시 room 명칭 설정
var roomid = '';


if(document.location.href.split("?roomid=")[1] != undefined){
	roomid = document.location.href.split("?roomid=")[1];
	$.cookie('roomid', roomid);
}

if($.cookie('roomid')){
	roomid = $.cookie('roomid');
}

// roomid 자동입력
document.getElementById('room-id').value = roomid;
document.getElementById('room-id').onkeyup = function() {
    localStorage.setItem(connection.socketMessageEvent, this.value);
};
</script>