<div class="box1">
	<p>회원가입</p>
	
	<div class='signup'>
		<a id="notLoginDiv" href='javascript:;'>비회원</a>
		<span> / </span>
		<a id="loginDiv" href='javascript:;'>로그인</a>
	</div>
	
	<form method="post" onsubmit="return joinFnc();">
	    <label for="email" class="sr-only">Email</label>
	    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
	
	    <label for="password" class="sr-only">Password</label>
	    <input type="password" name="password" class="form-control" placeholder="Password" required>
	
	    <!--<label for="inputPassword" class="sr-only">Password</label>-->
	    <!--<input type="password" name="password" class="form-control" placeholder="Password" required>-->
	
	    <button class="btn btn-lg btn-default btn-block loginButton">가입하기</button>
	</form>
	
	<div class="showResult"></div>
</div>
	
<!-- sosial -->
<div class="box2">
	<hr style=" margin-top:  8px; margin-bottom:  10px;">
	
	<b>SNS 계정으로 회원가입</b>
	
	<div class="loginBtnDiv">
		
		<div class="btn-login">
			<img alt="kakao" src="/img/kakaolink_icon.png">
		</div>
		
		<div class="btn-login">
			<img alt="naver" src="/img/naver_icon.png">
		</div>
		
		<div class="btn-login">
			<img alt="google" src="/img/google+_icon.png">
		</div>
		
		<div class="btn-login">
			<img alt="facebook" src="/img/facebook-icon.png">
		</div>
		
		<div class="btn-login">
			<img alt="Hamonikr" src="/img/hamonikr-icon.png">
		</div>
	</div>
</div>

<script>
$('.bottom_left').removeClass('miniSize');

// login button
$('#loginDiv').click(function(){
	$.ajax({
		url : '/login',
		success : function(data){
			$('.bottom_right').empty().append(data);
		},
		error : function(request, status, error){
			console.log('status : ' + status + '\nrequest : ' + request + '\nerror : ' + error);
		}
	});
});


function joinFnc(){
	var email = document.getElementsByName('email')[0].value;
	var password = document.getElementsByName('password')[0].value;
	sendAjax('/join', email, password);
	return false;
}


// Ajax로 전달
function sendAjax(url, email, password) {
    var data = { 'email' : email, 'password' : password };

    data = JSON.stringify(data);
    var xmlHttpRequest = new XMLHttpRequest();
    xmlHttpRequest.open('POST', url); // POST로 보냄
    xmlHttpRequest.setRequestHeader('Content-Type', 'application/json');
    xmlHttpRequest.send(data);

    xmlHttpRequest.addEventListener('load', function() {
        var result = JSON.parse(xmlHttpRequest.responseText);
        var resultDiv = document.querySelector(".showResult");
		var reText = '';
		
		resultDiv.innerHTML = reText;
		
        console.log("xmlHttpRequest.status : " + xmlHttpRequest.status);
        console.log("xmlHttpRequest.status of result : " + result);
		
        if (result.nickname) {
            window.location.href="/";
        }
        else {
        	if(result == "your email is already used") reText = "사용중인 메일입니다.";
        	resultDiv.innerHTML = reText;
            if(reText == '') resultDiv.innerHTML = result;
        }
    });
}
</script>
