<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Sign up</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="form-signin">

            <form action="/join" method="post">
                <h3 class="form-signin-heading">Please Sign up</h3>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>

                <!--<label for="inputPassword" class="sr-only">Password</label>-->
                <!--<input type="password" name="password" class="form-control" placeholder="Password" required>-->

                <button class="btn btn-lg btn-default btn-block loginButton">Sign up</button>
            </form>

            <div class="showResult"></div>

            <hr />

            <div>Sign up with <a href='https://localhost/login/kakao'>kakao</a> or <a href=''>Naver</a> or <a href='https://localhost/login/kakao'>Kakao</a></div>

        </div>

    </div>

</body>
</html>