<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Node.js Practice</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header mdl-layout__header--wwaterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="images/logo.png">
          </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search-field">
                </div>
            </div>

            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">HOME</a>

                    <!-- Todo : Session 정보로 로그인 or 로그아웃 -->
                    <% if (isLogin) { %>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/logout">LOGOUT</a>
                    <% } else { %>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">LOGIN</a>
                    <% } %>

                </nav>
            </div>

            <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>
            <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">Settings</li>
            </ul>
        </div>
    </div>

    <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-be-together-section mdl-typography--text-center">
            <div class="logo-font android-slogan">be together. not the same.</div>
            <div class="logo-font android-sub-slogan">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</div>

            <a href="#screens">
                <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                    <i class="material-icons">expand_more</i>
                </button>
            </a>
        </div>
        <div class="android-screen-section mdl-typography--text-center">
            <a name="screens"></a>
            <div class="mdl-typography--display-1-color-contrast">The best things are your memories</div>
            <div class="android-screens">
                <div class="android-wear android-screen">
                    <a class="android-image-link" href="">
                        <img class="android-screen-image" src="images/wear-black-on.png">
                    </a>
                    <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android Wear</a>
                </div>
                <div class="android-phone android-screen">
                    <a class="android-image-link" href="">
                        <img class="android-screen-image" src="images/nexus6-on.jpg">
                    </a>
                    <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
                </div>
                <div class="android-tablet android-screen">
                    <a class="android-image-link" href="">
                        <img class="android-screen-image" src="images/nexus9-on.jpg">
                    </a>
                    <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
                </div>
                <div class="android-tv android-screen">
                    <a class="android-image-link" href="">
                        <img class="android-screen-image" src="images/tv-on.jpg">
                    </a>
                    <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android TV</a>
                </div>
                <div class="android-auto android-screen">
                    <a class="android-image-link" href="">
                        <img class="android-screen-image" src="images/auto-on.jpg">
                    </a>
                    <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Android Auto</a>
                </div>
            </div>
        </div>
        <div class="android-wear-section">
            <div class="android-wear-band">
                <div class="android-wear-band-text">
                    <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Lorem built in</div>
                    <p class="mdl-typography--headline mdl-typography--font-thin">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum
                    </p>
                    <p>
                        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                            See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="android-customized-section">
            <div class="android-customized-section-text">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
                <p class="mdl-typography--font-light">
                    Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
                    <br>
                    <a href="" class="android-link mdl-typography--font-light">Customise your phone</a>
                </p>
            </div>
            <div class="android-customized-section-image"></div>
        </div>
        <div class="android-more-section">
            <div class="android-section-title mdl-typography--display-1-color-contrast">Popular trip place</div>
            <div class="android-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/airbnb1.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Los Angeles</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                            More info
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/airbnb2.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">London</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                            More info
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/airbnb3.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Firenze</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                            More info
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/airbnb4.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Tokyo</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                            More info
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="android-footer mdl-mega-footer">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--right-section">
                    <a class="mdl-typography--font-light" href="#top">
                        Back to Top
                        <i class="material-icons">expand_less</i>
                    </a>
                </div>
            </div>

            <div class="mdl-mega-footer--middle-section">
                <p class="mdl-typography--font-light">Satellite imagery: © 2017 byJW, Jungwoon</p>
                <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
            </div>

            <div class="mdl-mega-footer--bottom-section">
                <a class="android-link android-link-menu mdl-typography--font-light" id="version-dropdown">
                    Options
                    <i class="material-icons">arrow_drop_up</i>
                </a>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
                    <li class="mdl-menu__item">First option</li>
                    <li class="mdl-menu__item">Second option</li>
                    <li class="mdl-menu__item">Third oprion</li>
                </ul>
                <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
                    for Hello
                    <i class="material-icons">arrow_drop_up</i>
                </a>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
                    <li class="mdl-menu__item">Hello1</li>
                    <li class="mdl-menu__item">Hello2</li>
                    <li class="mdl-menu__item">Hello3</li>
                    <li class="mdl-menu__item">Hello4</li>
                </ul>
                <a class="android-link mdl-typography--font-light" href="https://jungwoon.github.com">Blog</a>
                <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
            </div>

        </footer>
    </div>
</div>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
